
nav {
  ul{
    background-color: $bg-color;
    margin: 0; padding: 0;
    list-style: none;
    li{
      display: inline-block;
      a {
        display: inline-block;
        color: $text-color;
        padding: 10px 6px;
        text-decoration: none;
      }
      a:hover {
        background-color: $hover-color;
      }
    }
  }
}